---
interface Props {
  who?: string;
  source?: string;
  sourceUrl?: string;
}

const { who, source, sourceUrl } = Astro.props;
---

<style>
  .quote {
    position: relative;
    font-style: italic;
    font-size: 0.9rem;
    color: var(--note-color);
  }

  .quote > blockquote > :global(p) {
    margin: 0 1.5rem;
  }

  .quote-caption {
    font-size: 0.8rem;
    color: var(--note-color);
    text-align: right;
    margin-top: 1rem;
  }

  .quote-caption > cite::before {
    content: ", ";
  }
</style>
<figure class="quote">
  <blockquote cite={sourceUrl}>
    <slot />
  </blockquote>
  {
    (who || source) && (
      <figcaption class="quote-caption">
        <span>{who}</span>
        <cite>{source}</cite>
      </figcaption>
    )
  }
</figure>
