@import "reset.css";

:root {
  --font-size: 22px;
  --color-paper-beige: #f3eed9;
  --color-deep-emerald: #0f5e3b;
  --color-white-smoke: #f7f4f3;
  --color-charcoal: #2e2e2e;
  --color-tiger-flame: #f46036;
  --color-muted-teal: #7ca982;
  --color-dim-grey: #776871;
  --color-lilac-ash: #aa9da4;
  --color-pale-slate: #bdb3b8;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-vollkorn: "Vollkorn Variable", serif;
  --font-ibm-plex-serif: "IBM Plex Serif", serif;
}

:root {
  --flow-font: var(--font-ibm-plex-serif);
  --background-color: var(--color-white-smoke);
  --text-color: var(--color-charcoal);
  --accent-color: var(--color-deep-emerald);
  --code-font: var(--font-ibm-plex-mono);
}

html {
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}
