@import "reset.css";

:root {
  --font-size: 22px;
  --color-paper-beige: rgb(243, 238, 217);
  --color-deep-emerald: #0f5e3b;
  --color-white-smoke: #f7f4f3;
  --color-charcoal: rgb(46, 46, 46);
  --color-tiger-flame: #f46036;
  --color-muted-teal: #7ca982;
  --color-dim-grey: rgb(119, 104, 113);
  --color-lilac-ash: rgb(170, 157, 164);
  --color-pale-slate: #bdb3b8;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-vollkorn: "Vollkorn Variable", serif;
  --font-ibm-plex-serif: "IBM Plex Serif", serif;
}

:root {
  --flow-font: var(--font-ibm-plex-serif);
  --background-color: light-dark(
    var(--color-white-smoke),
    var(--color-charcoal)
  );
  --text-color: light-dark(var(--color-charcoal), var(--color-paper-beige));
  --accent-color: light-dark(
    var(--color-deep-emerald),
    var(--color-muted-teal)
  );
  --accent-color-light: light-dark(
    var(--color-muted-teal),
    var(--color-deep-emerald)
  );
  --code-font: var(--font-ibm-plex-mono);
  --note-color: light-dark(var(--color-dim-grey), var(--color-lilac-ash));
}

html {
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}
