.content {
  font-family: var(--flow-font);
  color: var(--text-color);

  & *::selection {
    background-color: var(--text-color);
    color: var(--background-color);
  }

  & a {
    color: var(--text-color);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-muted-teal);
    transition:
      color 0.3s ease,
      text-decoration-color 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      text-decoration-color: var(--text-color);
      color: var(--background-color);
      background-color: var(--text-color);
    }
  }

  & > p {
    line-height: 1.5;
  }

  & > :not(:last-child) {
    margin-bottom: 1rem;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  & li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  & em {
    font-style: italic;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    color: var(--accent-color);
    font-family: var(--font-vollkorn);
    text-wrap: balance;
    margin-bottom: 0rem !important;

    &::selection {
      background-color: var(--accent-color);
      color: var(--background-color);
    }
  }

  & .metadata {
    @media (min-width: 1300px) {
      margin: 0;
    }
  }
}
