.content {
  font-family: var(--flow-font);
  color: var(--color-charcoal);

  & *::selection {
    background-color: var(--color-charcoal);
    color: var(--color-paper-beige);
  }

  & a {
    color: var(--color-charcoal);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-muted-teal);
    transition:
      color 0.3s ease,
      text-decoration-color 0.3s ease,
      background-color 0.3s ease;

    &:hover {
      text-decoration-color: var(--color-charcoal);
      color: var(--color-paper-beige);
      background-color: var(--color-charcoal);
    }
  }

  & > p {
    line-height: 1.5;
  }

  & > :not(:last-child) {
    margin-bottom: 1rem;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-deep-emerald);
    font-family: var(--font-vollkorn);
    text-wrap: balance;
    margin-bottom: 0rem !important;

    &::selection {
      background-color: var(--color-deep-emerald);
      color: var(--color-paper-beige);
    }
  }
}
