---
import "#styles/post-content.css";

import SubpageLayout from "#layouts/SubpageLayout.astro";
---

<style>
  * {
    --content-width: 800px;
  }

  .contact {
    max-width: var(--content-width);
    margin: 0 auto;
  }

  .contact-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-vollkorn);
    color: var(--accent-color);
    line-height: 1;
  }
</style>
<SubpageLayout title="Contact" description="I would love to hear from you!">
  <div class="contact">
    <h2 class="contact-title">Contact</h2>
    <div class="content">
      <p>You can reach me through the following channels:</p>
      <ul>
        <li>
          Email: <a href="mailto:bagossyattila@outlook.com"
            >bagossyattila@outlook.com</a
          >
        </li>
        <li>
          LinkedIn: <a href="https://www.linkedin.com/in/attila-bagossy/"
            >in/attila-bagossy</a
          >
        </li>
        <li>Discord: battila7</li>
      </ul>
      <p>Some profiles of mine:</p>
      <ul>
        <li>
          GitHub: <a href="https://github.com/battila7">battila7</a>
        </li>
        <li>
          ResearchGate: <a
            href="https://www.researchgate.net/profile/Attila-Bagossy"
            >Attila Bagossy</a
          >
        </li>
      </ul>
    </div>
  </div>
</SubpageLayout>
