---
import BaseLayout from "#layouts/BaseLayout.astro";
import Header, { HeaderVariant } from "#components/common/Header.astro";
import Content from "../content/index.md";
---

<BaseLayout
  title="Izimani"
  description="The (mostly) software engineering site of Attila Bagossy."
>
  <style>
    :root {
      --content-width: 700px;
      --page-margin: 0 5rem;

      @media (max-width: 768px) {
        --page-margin: 0 20px;
      }
    }

    body {
      margin: var(--page-margin);
    }

    .content {
      max-width: var(--content-width);
      margin: 0 auto;
      padding: 1rem 0;
      font-family: var(--flow-font);

      & > :global(h2) {
        font-size: 1.25rem;
        line-height: 1;
        font-family: var(--font-vollkorn);
        font-weight: 600;
        font-style: italic;
        color: var(--accent-color);
      }

      & > :global(*:not(:last-child)) {
        margin-bottom: 1rem;
      }

      & > :global(p) {
        line-height: 1.7;
      }
    }
  </style>
  <Header
    variant={HeaderVariant.Home}
    title=""
    description="The (mostly) software engineering site of Attila Bagossy."
  />
  <main class="content">
    <Content />
  </main>
</BaseLayout>
