---
import { SubpageLayout } from "../layouts";
---

<SubpageLayout
  title="Posts"
  description="Articles, guides, and other writings, (mostly) about software engineering."
>
  <h1>Posts</h1>
</SubpageLayout>
