---
import { SubpageLayout } from "../layouts";
---

<SubpageLayout
  title="Shorts"
  description="Short and not-so-short but definitely unstructured feed around my thoughts and ideas."
>
  <h1>Posts</h1>
</SubpageLayout>
