---
import { PAGES_LIST } from "../../structure";
---

<nav class="nav">
  <style>
    * {
      --nav-item-color: var(--text-color);
    }

    .nav {
      padding: 0.5rem 0 1.5rem 0;

      display: flex;
      flex-flow: row wrap;
      gap: 0.6rem;

      & > a {
        font-size: 1rem;
        line-height: 1.5;
        font-family: var(--flow-font);
        font-weight: 400;

        color: var(--text-color);
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--color-muted-teal);
        transition:
          color 0.3s ease,
          text-decoration-color 0.3s ease,
          background-color 0.3s ease;

        &:hover {
          text-decoration-color: var(--text-color);
          color: var(--background-color);
          background-color: var(--text-color);
        }
      }
    }
  </style>

  {PAGES_LIST.map((page) => <a href={page.href}>{page.navTitle}</a>)}
</nav>
