---
import BaseLayout from "./BaseLayout.astro";
import { Header, HeaderVariant } from "../components/common";

interface Props {
  title: string;
  description: string;
  headerVariant?: HeaderVariant;
}

const { title, description, headerVariant } = Astro.props;
---

<style>
  :root {
    --page-margin: 0 5rem;

    @media (max-width: 768px) {
      --page-margin: 0 20px;
    }
  }

  body {
    margin: var(--page-margin);
  }
</style>

<BaseLayout title={`Izimani | ${title}`} description={description}>
  <Header
    variant={headerVariant ?? HeaderVariant.Subpage}
    title={title}
    description={description}
  />
  <main>
    <slot />
  </main>
</BaseLayout>
